.Userstable {
    border-collapse: collapse;
}

.Userstable {
    border: 2px solid rgb(105, 96, 231);
    padding: 5px;
    tr,
    th,
    td {
        border: 2px solid rgb(105, 96, 231);
    }
}


/* .Userstable tr td:last-child {
    border-color: transparent;
} */